<div class="header">
  <div class="wrapper">
    <div class="boxLeft">
      <h1>Search</h1>
    </div>
    <div class="boxRight">
      <h1>d_evs</h1>
    </div>


  </div>
  <div class="search-box">
    <div class="input-group mb-3">
      <span style=" font-size: 20px;" class="input-group-text" id="basic-addon1"><i
          class="bi bi-search"></i></span>
      <input type="text" class="form-control format-input" placeholder="{{ nome }}" aria-label="Username" aria-describedby="basic-addon1" disabled>
    </div>
  </div>

</div>
