<app-header [usuario]="dados"></app-header>
<div class="content">
  <div class="perfil">
    <div class="foto">
      <img class="imagem" [src]="avatar_url" alt="">
      <div>
        <h2>{{ nome }}</h2>
        <p>@{{ dados }}</p>
      </div>
    </div>
    <p class="mt-3">{{ bio }}.</p>

    <p><i class="bi bi-people"></i> - {{ seguidores }} Seguidores</p>
    <p><i class="bi bi-heart"></i> - {{ seguindo }} Seguindo</p>
    <p *ngIf="empresa"><i class="bi bi-building"></i> - {{ empresa }}</p>
    <p *ngIf="localizacao"><i class="bi bi-geo-alt"></i> - {{ localizacao }}</p>
    <p *ngIf="email"><i class="bi bi-envelope"></i> - {{ email }}</p>
    <p *ngIf="blog"><i class="bi bi-link-45deg"></i> - <a href="{{ blog }}" target="_blank">{{ blog }} </a></p>
    <p *ngIf="twitter"><i class="bi bi-twitter"></i> - <a href="{{ 'https://www.twitter.com/' + twitter }}" target="_blank">{{ twitter }}</a></p>

    <button type="button" class="btn btn-lg botao" (click)="goBack()">
      Voltar
    </button>
  </div>

  <div class="repositorios">
    <div *ngFor="let repo of repos">
       <a href="{{repo.clone_url}}" target="_blank"><h3>{{ repo.name }}</h3></a>
      <p>{{ repo.description }}</p>
        <p><i class="bi bi-star"></i> - {{ repo.stargazers_count }} <i class="bi bi-dot"></i> atualizado ha {{ repo.stargazers_count }} dias</p>
      <hr>
    </div>
  </div>


</div>
