<app-header></app-header>
<div class="content">
  <div class="perfil">
    <div class="foto">
      <img class="imagem" src="https://images.pexels.com/photos/2328141/pexels-photo-2328141.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
      <div>
        <h2>Name</h2>
        <p>@name</p>
      </div>
    </div>
    <p class="mt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ut nisl laoreet, posuere magna eget, vestibulum
      dui. Sed bibendum aliquet metus sit amet mattis. Etiam ut mollis leo. Donec maximus, ligula et iaculis tincidunt,
      odio justo fermentum tortor, id eleifend enim diam in purus. Fusce id gravida tortor.</p>

    <p>icone - seguidores</p>
    <p>icone - seguidores</p>
    <p>icone - seguidores</p>
    <p>icone - seguidores</p>
    <p>icone - seguidores</p>
    <p>icone - seguidores</p>

    <button type="button" class="btn btn-lg botao">
      Voltar
    </button>
  </div>

  <div class="repositorios">
    <h3>Repositórios</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ut nisl laoreet, posuere magna eget, vestibulum
      dui. Sed bibendum aliquet metus sit amet mattis. Etiam ut mollis leo. Donec maximus, ligula et iaculis tincidunt,
      odio justo fermentum tortor, id eleifend enim diam in purus. Fusce id gravida tortor. Vestibulum vel viverra
      ipsum. Cras massa enim, sodales sed magna ac, gravida facilisis arcu. Duis elementum mauris tempus risus ornare,
      et tempus mi bibendum. Vivamus a vehicula ante. Mauris quis blandit felis. Vivamus sed gravida mi, nec volutpat
      dui. Sed vel laoreet elit. In suscipit nisl at sem interdum, vel rhoncus urna posuere. In hac habitasse platea
      dictumst.</p>
      <p>icone - texto bullet atualizado ha x dias</p>
    <hr>
  </div>


</div>
